*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.login-box,
.register-box{
background:#1e293b;
width:400px;
max-width:100%;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.4);
}

.logo{
color:#fff;
font-size:30px;
margin-bottom:10px;
}

.subtitle{
color:#cbd5e1;
margin-bottom:20px;
}

.beta-banner{
background:#f59e0b;
color:#000;
padding:10px;
border-radius:10px;
font-weight:bold;
margin-bottom:20px;
}

h2{
color:white;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-bottom:15px;
border:none;
border-radius:10px;
}

.login-box button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
font-size:16px;
cursor:pointer;
}

.login-box button:hover{
background:#2563eb;
}

.register-box button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-size:16px;
cursor:pointer;
}

.register-box button:hover{
background:#16a34a;
}

.bottom-text{
margin-top:20px;
color:white;
}

.bottom-text a{
color:#60a5fa;
text-decoration:none;
font-weight:bold;
}
.flash-error{
    background:#ff4d4d;
    color:white;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    text-align:center;
    font-weight:600;
}

.flash-success{
    background:#00c853;
    color:white;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    text-align:center;
    font-weight:600;
}