
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker Pro</title>

</head>

<body>

    <div class="login-box">

        <h1 class="logo">💰 Expense Tracker Pro</h1>

        <p class="subtitle">
            Manage Your Expenses Smartly
        </p>

        <div class="beta-banner">
            🚧 Website Under Development<br>
            Beta Testing Version
        </div>

        <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash-error">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <div class="bottom-text">
            Don't have an account?
            <br><br>
            <a href="/register">Create Account</a>
        </div>

    </div>

</body>
</html>
