
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Expense Tracker Pro</title>

</head>

<body>

<div class="register-box">

    <h1 class="logo">💰 Expense Tracker Pro</h1>

    <p class="subtitle">
        Manage Your Expenses Smartly
    </p>

    <div class="beta-banner">
        🚧 Website Under Development<br>
        Beta Testing Version
    </div>

    <h2>Create Account</h2>

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required
        >

        <input
            type="email"
            name="email"
            placeholder="Enter Email"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Create Password"
            required
        >

        <button type="submit">
            Create Account
        </button>

    </form>

    <div class="bottom-text">
        Already have an account?
        <br><br>
        <a href="/login">Login Here</a>
    </div>

</div>

</body>
</html>

